.connection-indicator {
  max-width: 100%;

  border: 2px solid black;
  border-radius: 50px;

  
  display: flex;
  justify-content: center;
  align-items: center;
}

.connection-indicator p {
  margin: 0;
  padding: 0.25em;
  font-size: 1.5em;
}

.connection-indicator.connected {
  background-color: #008000;
}

.connection-indicator.not-connected {
  background-color: #800000;
}
