p.controller-side {
  font-size: 2em;
  margin: 0;
  margin-top: 0.75em;
  padding: 0;
}

p.controller-side.left {
  text-align: left;
}

p.controller-side.right {
  text-align: right;
}

.controller {
  margin: 0.5em 0;
  padding: 0;
  width: 100%;
  height: 70%;

  background-color: black;
  color: white;
}

.controller .controller-paddle {
  height: 150px;
  width: 50px;
  margin: 0 25px;
  background-color: white;
}

.controller.left .controller-paddle {
  float: left;
}

.controller.right .controller-paddle {
  float: right;
}
